.categoria-productos {
    height: inherit;

    border-radius: 5px 0 0 5px;
}
.datos-productos {

    padding: 1rem;
    font-family: "Saira Semi Condensed", sans-serif;
}
.botones-productos {
    margin-top: 10px;
}
.botones-productos Button {
    min-width: 151px;
    height: 40px;
}

.btn-ver {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #00a8db;
    color: #ffffff;
    border: none;
}

.btn-ver:hover {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid #00a8db;
    color: #00a8db;

}

.btn-editar {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #94c11e;
    color: #ffffff;
    border: none;
}

.btn-editar:hover {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid #94c11e;
    color: #94c11e;

}

.btn-eliminar {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #eb1616;
    color: #ffffff;
    border: none;
}

.btn-eliminar:hover {
    font-size: 1.1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border: 1px solid #eb1616;
    color: #eb1616;

}

.numeros-estadisticas {
    font-size: 80px;
}


.titulo-producto-dash {
    font-size: 1.4rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.descrip-producto-dash {
    font-size: 1rem;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    color: #ffffff;
}