.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.condensed {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 13pt;
}

.contenedor-seccion-compus {
  background-color: darkgrey;
  margin-top: 4rem !important;
}

.titulo1 {
  font-size: 2.4rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  position: absolute;
  top: -41px;

  color: darkgray;
}

.subtitulo-seccion {
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  margin-top: 60px !important;
  padding-right: 60px !important;
  text-align: right;
}

.contenedor-items {
  background-color: white;
  border: 1px #ababab solid;
}

.titulo-producto {
  font-size: 1.2rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  color: #002B4B;
}

.detalle-producto {
  font-size: 0.8rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  color: rgb(82, 82, 82);
}

.precio-producto {
  font-size: 2rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  color: #94C11E;
}

.btn-heart {
  font-size: 1.2rem;
  border: 0;
  color: #0083AC;
  background-color: white;
  padding: 5px 10px;
}
.btn-heart:hover {
  font-size: 1.2rem;
  border: 0;
  color: #00a8db;
  background-color: white;
  padding: 5px 10px;
}

.btn-cart {
  font-size: 1.2rem;
  border: 0;
  color: #005989;
  background-color: white;
  padding: 5px 10px;
}
.btn-cart:hover {
  font-size: 1.2rem;
  border: 0;
  color: #00a8db;
  background-color: white;
  padding: 5px 10px;
}

.texto-pagos {
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  padding-top: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-comprar {
  background-color: #005989;
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  border: 0;
  color: white;
  padding: 5px 10px;
}

.btn-comprar:hover {
  background-color: #00a8db;
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  border: 0;
  color: white;
  padding: 5px 10px;
}

.circulo-envpag {
  background-color: #94C11E;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 1.8rem;


}

.contenedor-circulos {
  background-color: #0083AD;

}

.text-destacado-envpag {
  color: white;
  font-size: 1.2rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
}

.text-envpag {
  color: white;
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 300;
}

.footer {
  background-color: rgb(243, 243, 243);
}

.subtitulo-seccion2 {
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  margin-top: 25px !important;
  padding-left: 35px !important;

}

.li-footer {
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

.titulos-footer {
  font-size: 1.1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;
  color: rgb(71, 71, 71);
}
