/* Agregue Tomas */
.card-favoritos {
  padding: 3rem 0;
  margin: 2rem 0;
  background-color: white;
  border-radius: 5px;
}
.modal-dialog .modal-content {
  background-color: rgba(0, 0, 0, 0.0);
  box-shadow:none !important;
  
}

.card-favoritos:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.8s;
}

.card-favoritos img {
  max-height: 160px;
}

/* Fin agrege tomas */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.condensed {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 13pt;
}

.contenedor-seccion-compus {
  background-color: darkgrey;
  margin-top: 4rem !important;
}

.titulo1 {
  font-size: 2.5rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  position: absolute;
  top: -43px;

  color: darkgray;
}

.subtitulo-seccion {
  color: white;
  font-size: clamp(2.5rem, 1vh, 5rem);
  font-weight: 300;
  margin-top: 20px !important;
  padding-right: 60px !important;
  text-align: right;
  font-family: "Saira Semi Condensed", sans-serif;
}

.contenedor-items {
  background-color: white;
  border: 1px #ababab solid;
}

.titulo-producto {
  font-size: 1.2rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  color: #002b4b;
}

.detalle-producto {
  font-size: 0.8rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  color: rgb(82, 82, 82);
}

.precio-producto {
  font-size: 1.6rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  color: #94c11e;
}

.btn-heart {
  font-size: 1.2rem;
  border: 0;
  color: #0083ac;
  background-color: white;
  padding: 5px 10px;
}
.btn-heart:hover {
  font-size: 1.2rem;
  border: 0;
  color: #00a8db;
  background-color: white;
  padding: 5px 10px;
}

.btn-cart {
  font-size: 1.2rem;
  border: 0;
  color: #005989;
  background-color: white;
  padding: 5px 10px;
}
.btn-cart:hover {
  font-size: 1.2rem;
  border: 0;
  color: #00a8db;
  background-color: white;
  padding: 5px 10px;
}

.texto-pagos {
  font-size: 1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  padding-top: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-comprar {
  background-color: #005989;
  font-size: 1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  border: 0;
  color: white;
  padding: 5px 10px;
}

.btn-comprar:hover {
  background-color: #00a8db;
  font-size: 1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  border: 0;
  color: white;
  padding: 5px 10px;
}

.circulo-envpag {
  background-color: #94c11e;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 1.8rem;
}

.contenedor-circulos {
  background-color: #0083ad;
}

.text-destacado-envpag {
  color: white;
  font-size: 1.2rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
}

.text-envpag {
  color: white;
  font-size: 1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
}

.footer {
  background-color: rgb(243, 243, 243);
}

.subtitulo-seccion2 {
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  margin-top: 25px !important;
  padding-left: 35px !important;
  font-family: "Saira Semi Condensed", sans-serif;
}

.li-footer {
  font-size: 1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

.titulos-footer {
  font-size: 1.1rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  color: rgb(71, 71, 71);
}

.titulo2 {
  font-size: 3rem;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  /* position: absolute;
  top: 363px; */

  color: darkgray;
}

.btn-serie {
  background-color: white;
  border: 1px solid #94c11e;
  color: #94c11e;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.btn-serie:hover {
  background-color: #94c11e;
  border: 1px solid #94c11e;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.container-buscador {
  background-color: rgb(119, 119, 119);
}

.texto-categoria {
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  padding-left: 25px;
}

.btn-categoria {
  background-color: #94c11e;
  border: 1px solid #94c11e;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.btn-categoria:hover {
  background-color: white;
  border: 1px solid #94c11e;
  color: #94c11e;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.input-buscar {
  color: #575757;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 10px;
}

.titulo-azul {
  color: #002b4b;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding-left: 10px;
}

.texto-registro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  color: #002b4b;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-right: 30px;
  margin-top: 60px;
}

.advertencia-registro {
  color: #002b4b;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.boton-aqui {
  color: #24c90f !important;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: -10px !important;
}

.texto-verde-grande {
  color: #94c11e;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-size: 5.5rem;
  padding-left: 10px;
}

.input2 {
  color: rgb(255, 255, 255);
  border: #ffffff 1px solid;
}

.input2:focus {
  color: rgb(255, 255, 255);
  border: #ffffff 1px solid;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.cuadrado {
  max-width: 180px;

  background-color: #002b4b;
}

.titulo-dash {
  color: #002b4b;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 3.6em;
  padding-left: 10px;
  line-height: 51pt;
}

.subtitulo-dash {
  color: #6e6e6e;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  padding-left: 10px;

}

.titulo-view-dash {
  color: #777777;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

.subtitulo-view-dash {
  color: #6e6e6e;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;

}


/*--------------------*/
/* ABOUT US */
/*--------------------*/

#mu-about {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-about-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
  padding: 0 25%;
}

.mu-title h2 {
  color: #323232;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.mu-title p {
}

.mu-about-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-about-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-about-right ul {
}

.mu-about-right ul li {
  list-style: none;
  float: left;
  margin-bottom: 25px;
}

.mu-about-right ul li h3 {
  border-bottom: 3px solid #e5e5e5;
  color: #323232;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.mu-about-right p {
  font-size: 14px;
}

/*--------------------*/
/* ABOUT US */
/*--------------------*/

#mu-page-header {
  background-image: url(./assets/img/page-header-bg.jpg);
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

#mu-page-header::before {
  background-color: #ebebeb;
  bottom: 0;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 10;
}

.mu-page-header-area {
  display: inline;
  float: left;
  padding: 150px 0;
  width: 100%;
  position: relative;
  z-index: 20;
}

.mu-page-header-title {
  color: #323232;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0;
}

#mu-breadcrumb {
  background-color: #f6f6f6;
  display: inline;
  float: left;
  width: 100%;
}

.mu-breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
}

.mu-breadcrumb li {
  font-size: 14px;
}

.mu-breadcrumb li.active {
  color: #0091ea;
}

.mu-breadcrumb li a {
  color: #323232;
}

#mu-skills {
  background-image: url(./assets/img/skill-bg.jpg);
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

#mu-skills:before {
  background-color: #000000;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0.3;
  z-index: 10;
}

.mu-skills-area {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
  z-index: 20;
}

.mu-skills-area .mu-title h2,
.mu-skills-area .mu-title p {
  color: #fff;
}

.mu-skills-content {
  display: inline;
  float: left;
  width: 100%;
}

.mu-single-skills {
  color: #fff;
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

.mu-single-skills h3 {
  font-size: 18px;
}

.mu-single-skills p {
  margin-bottom: 0;
}

.mu-skills-circle {
  float: left;
  width: 100%;
  text-align: center;
  display: inline;
  margin-bottom: 30px;
}

.mu-skills-circle .mu-circle {
  height: 146px !important;
  width: 146px !important;
  margin: 0 auto;
  float: none;
}

.mu-skills-circle .mu-circle .text {
  background-color: #0091ea;
  color: #fff !important;
  font-size: 20px;
  padding: 20px 15px;
  border-radius: 50%;
}

.mu-skills-percantage {
  display: inline-block;
}

.mu-skills-circle .loader-spinner {
  border-color: #0091ea;
}

#mu-team {
  display: inline;
  float: left;
  width: 100%;
}

.mu-team-area {
  display: inline;
  float: left;
  padding: 100px 0 90px;
  width: 100%;
}

.mu-team-content {
  display: inline;
  float: left;
  width: 100%;
}

.mu-single-team {
  background-color: #f6f6f6;
  display: inline;
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mu-single-team-img {
  display: inline;
  float: left;
  width: 25%;
}

.mu-single-team-img img {
}

.mu-single-team-content {
  display: inline;
  float: left;
  width: 75%;
  padding: 15px 33px;
}

.mu-single-team-content h3 {
  font-size: 18px;
  color: #323232;
  margin-bottom: 0;
}

.mu-single-team-content span {
  display: inline-block;
  font-size: 16px;
  color: #0091ea;
  margin-bottom: 5px;
}

.mu-single-team-content p {
  font-size: 14px;
  margin-bottom: 12px;
}

.mu-team-social li {
  list-style: none;
  display: inline-block;
}

.mu-team-social li a {
  background-color: #ebebeb;
  border-radius: 50%;
  color: #7a7272;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  width: 35px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-team-social li a:hover,
.mu-team-social li a:focus {
  background-color: #0091ea;
  color: #fff;
}

/*--------------------*/
/* CLIENTS */
/*--------------------*/

#mu-clients {
  background-color: #f6f6f6;
  display: inline;
  float: left;
  width: 100%;
}

.mu-clients-area {
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
  text-align: center;
}

.mu-clients-slider {
  display: inline;
  float: left;
  width: 100%;
}

.mu-clients-single {
  display: inline;
  float: left;
}

.mu-clients-slider .slick-next {
  right: -40px;
}

.mu-clients-slider .slick-prev {
  left: -60px;
}

.mu-clients-slider .slick-prev,
.mu-clients-slider .slick-next {
  background-color: transparent;
}

.bg-fondo-producto-admin {
  background-image: url(../src/assets/img/fondo-admin.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 227px;
  min-width: 100%;
}

.btn-dash {
  background-color: #94C11E;
  border: 1px solid #94C11E;
  color: white;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

}

.btn-dash:hover {
  background-color: white;
  border: 1px solid #94C11E;
  color: #94C11E;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

}

